/* seteo de estilos */

* {
    /* propiedades de espaciados */
    padding: unset;
    margin: unset;
    outline: unset;
    border: unset;

    /* la propiedad magica */
    box-sizing: border-box;
    font-size: 16px;
}
/* el resto del seteo se hace en el body */
body {
    color: #fffefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: #181717;
    /* font-weight: 400; */
}   

ul {
    list-style: none;
}



/* --------------------------estilos de navbar---------------------- */
.panaderia {
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    background-color: #ffffff1d;
    backdrop-filter: blur(10px);
}


/* .encabezado {
    display: flex;
    justify-content: space-between;
} */
.lista-navbar {
    display: flex;
    gap: 80px;
    justify-content: start;
    align-items: end;
    /* height: 200px; */
    padding: 20px 27px;
}

.Login {
    background-color: red;
    background-image: linear-gradient(45deg, #B60034, #500017);
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.register {
    background-color: #fffefe;
    background-image: linear-gradient(50, #fff8f8, #7a6d6d);
    padding: 15px 20px;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: bold;
    color: black
}


.jumbotron {
    padding: 60px;
    background-size: cover;
    background-position: center;
    
    
}

.jumbotron h1 {
    font-size: 56px;
    font-weight: 52px;
}

.imagen {
    background-image: url(assets/jumbotron.jpg);
    background-size: cover;
    background-position: center;
}

.seccion {
    display: flex;
    padding: 24px 60px;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
   
    
}

.nose_tarjeta {
    box-shadow: 2px -1px 31px 0px rgba(121, 121, 121, 0.751);
    flex-basis: 360px;

}

.nose_tarjeta img{
   display: flex; 
    width: 100%;
    /* height: px; */
}

.tituloh2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.informacion {
    background-color: #fff8f8;
    color: #181717;
    padding: 25px;
}

/* .seccion2 {
    display: flex;
    padding: 24px 60px;
    gap: 60px;
} */

.imagen_targeta {
    height: 500px;
}

.fijo {
    height: 500px;
}



.nose_tarjeta .icono {
    display: flex;
    width: 12px;
    box-shadow: 2px -1px 31px 0px rgba(184,184,184,1);

}

.icono_padre {
    display: flex;

}

.imagen2 {
    /* background-image: url(assets/asd.jpg); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.texto_jumbotron {
    padding: 70px;
    background-size: cover;
    background-position: center;
}

.texto_jumbotron h4 {
    font-size: 54px;
    width: 51px;
}

.seccion2 {
    box-shadow: 2px -1px 31px 0px rgba(184,184,184,1);
}
